{{ define "body_classes" }} proiect-1-page {{ end }}

{{ define "main" }}

<section class="project-wrapper space-top space-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {{ partial "titles" . }}
      </div>
    </div>
    <div class="row space-top space-bottom">
      <div class="col-md-10 mx-auto">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title fw-bold">DESPRE PROIECT</h2>
          </div>
          <div class="card-body">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}