# Hugo default output directory
/public/
/resources/
/exampleSite/resources/
/exampleSite/.hugo_build.lock

node_modules/
build/

.idea
.vscode
.env
.nvmrc

# OSX
.DS_Store

# Linux
.directory

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/