@charset "UTF-8";
//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics / Vendors
//    2. Resetting properties
//    3. General
//    4. Components
//    5. Sections
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics / Vendors
//---------------------------------------------

@import "abstracts/_variables";
@import "abstracts/placeholders";
@import "vendors/_bootstrap";
@import "vendors/_fontawesome";
@import "node_modules/@fancyapps/ui/dist/fancybox";

//---------------------------------------------
// 2. Resetting properties
//---------------------------------------------

::selection {
  color: $white;
  background-color: $secondary;
}

body {
  background-color: $bg-color;
}

//---------------------------------------------
// 3. General
//---------------------------------------------

@import "core/_all";
@import "base/_all";

//---------------------------------------------
// 4. Components
//---------------------------------------------

@import "components/_all";
@import "pages/_all";

//---------------------------------------------
// 5. Sections
//---------------------------------------------

@import "layout/_all";
@import "utilities/all";

@view-transition {
  navigation: auto;
}
