@import "../abstracts/variables";

.footer-wrapper {
  background-color: $white;
  padding: 1rem 0;

  .footer-european {
    text-align: center;
    color: $primary;
    font-size: 1.5rem;

    &--small {
      text-align: center;
      font-size: $h6-font-size;
      font-weight: $font-weight-bold;
      color: $primary;
    }
  }

  .footer-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem;
    font-size: $h6-font-size;
    color: $primary;

    @include media-breakpoint-down(md) {
      gap: 1rem;
    }

    span {
      &:last-child {
        display: none;
      }
    }
  
    a {
      color: $primary;
      text-decoration: none;

      &:hover {
        color: $secondary;
      }
    }
  }

  .footer-info {
    text-align: center;

    a {
      color: $primary;
      text-decoration: none;

      &:hover {
        color: $secondary;
      }
    }
  }
}