img, a {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

button,
::file-selector-button {
  inline-size: fit-content;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-drag: none;
}

* {
  &:focus-visible {
    outline: 2px solid $secondary;
    outline-offset: 2px;
  }
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
  overflow-x: hidden;
}
