<!DOCTYPE html>
<!--[if lte 8]><html class="pre-ie9" lang="{{ $.Site.Language }}"><![endif]-->
<!--[if gte IE 9]><!--><html class="no-js" lang="{{ $.Site.Language }}"><!--<![endif]-->
{{ partial "head/head" . }}

<body class='page {{ block "body_classes" . }}{{ end }}'>
{{ partial "google-tag-manager/gtm-body" . }}

<!--[if IE]><div class="w-100 text-center bg-dark text-white pt-3 px-4 pb-1 position-fixed" style="z-index: 1000; bottom: 0;">
  <p onClick="parentNode.remove()">Please use a modern browser for a better browsing experience.
    <span class="float-right">X</span>
  </p>
</div><![endif]-->

{{ partial "header/header" . }}

<main id="content">
  {{ block "main" . }}{{ end }}
</main>

{{ partial "footer/footer" . }}
{{ partial "footer/script" . }}

</body>
</html>