<div class="c-digitizare mb-3">
  <img src="/gallery/inaugurare/1.jpeg" alt="Biserica Sf. Ierarh Nicolae din Mironești">
  <div class="c-digitalizare-body">
    <h2 class="c-digitizare-title">Biserica Sf. Ierarh Nicolae din Mironești</h2>
    <a class="c-digitalizare-link | btn btn-prime" href="https://arenacad.websharecloud.com/?v=pv&t=p:default,c:panoramaview,h:f,m:t,pr:f&pv=pv1&pv1=vt:p,u:8fc8c293-97b4-46dd-ad28-79a227692c32,cf:65.00,dh:f,st:f,p:6.16764,t:0.55226&p=p:digitizare-gostinari-schitul-mironesti,share:5ef2a8f7-cfa9-4257-afc6-798a1b5695e9" tabindex="0" role="link" draggable="false" rel="nofollow noreferrer" target="_blank">Vezi Model Interactiv Scanare 3D</a>
  </div>
</div>

<p class="disclaimer"><i class="fa-solid fa-circle-exclamation"></i> Puteți naviga în imagine cu ajutorul mouse-ului in orice directie. Executând click pe marcajele din imagine vă puteți muta în altă pozitie
  Cu ajutorul rotiței mouse-ului vă puteți apropia sau îndeparta în imagine. Pentru a trece în modul "tur virtual" apăsați pe butonul 3D din coltul din dreapta sus al imaginii.</p>

<div class="title-area text-center my-5">
  <h2 class="sec-title">Metadate</h2>
  <hr>
</div>

<div class="row">
  <div class="col-md-4 mb-3">
    <div class="c-metadata text-center">
      <i class="fa-solid fa-location-crosshairs"></i>
      <h3>Localizare</h3>
      <p>sat Mironești, comuna Goștinari, jud. Giurgiu, România</p>
      <p>GPS: <a href="https://www.google.com/maps/place//44.172754,26.248287/@44.172754,26.248287,15z" tabindex="0" role="link" target="_blank" draggable="false">44.172754, 26.248287</a></p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="c-metadata text-center">
      <i class="fa-solid fa-circle-info"></i>
      <h3>Informații</h3>
      <p>Data: 29 Decembrie 2023</p>
      <p>Scanner laser 3D: Faro Focus 330X</p>
      <p>Instrument TZF Scans</p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="c-metadata text-center">
      <i class="fa-solid fa-compass-drafting"></i>
      <h3>Scanare</h3>
      <p>Numar scanări: 177</p>
    </div>
  </div>

  <div class="col-xl-4 mx-auto mt-2 mt-md-3 text-center"> 
    <a class="btn btn-prime" href="\docs\digitalizare-schitul-mironesti-metadate.pdf" download="Digitizare Gostinari Schitul Mironesti_fisier metadate">Descarcă Raport Metadate</a>
  </div>
</div>

