{{ if and (or .IsPage .IsHome) (not .Params.sitemapExclude) }}
  {{ if .Params.canonicalURL }}
    <link rel="canonical" href="{{ .Params.canonicalURL }}">
  {{ else if and (ne .Kind "404") (ne .Params.sitemapExclude true) }}
    <link rel="canonical" href="{{ .Permalink }}">
  {{ end }}
{{ else if (eq .Kind "section") }}
  <link rel="canonical" href="{{ .Paginator.URL | absURL }}">

  {{ if .Paginator.HasPrev }}
    <link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}">
  {{ end }}

  {{ if .Paginator.HasNext }}
    <link rel="next" href="{{ .Paginator.Next.URL | absURL }}">
  {{ end }}
{{ end }}

{{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
{{- end -}}

<link rel="alternate" hreflang="x-default" href="{{ .Permalink }}">