@charset "UTF-8";
//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics / Vendors
//    2. Resetting properties
//    3. General
//    4. Components
//    5. Sections
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics / Vendors
//---------------------------------------------

@import "abstracts/_variables";
@import "abstracts/placeholders";
@import "vendors/index";

//---------------------------------------------
// 2. Resetting properties
//---------------------------------------------

::selection {
  color: $white;
  background-color: $secondary;
}

body {
  background-color: $bg-color;
}

//---------------------------------------------
// 3. General
//---------------------------------------------

@import "core/index";
@import "base/index";

//---------------------------------------------
// 4. Components
//---------------------------------------------

@import "components/index";
@import "pages/index";

//---------------------------------------------
// 5. Sections
//---------------------------------------------

@import "layout/index";
@import "utilities/index";

@view-transition {
  navigation: auto;
}
