{{ with .Site.Data.gallery }}
<div class="c-nav-tabs">
  <ul class="nav nav-pills" id="pills-tab" role="tablist">
    {{ range $index, $item := .items }}
      <li class="nav-item" role="presentation">
        <button class="nav-link {{ if eq $index 0 }} active {{ end }}" id="{{ anchorize $item.title }}-tab-{{ $index }}" data-bs-toggle="pill" data-bs-target="#{{ anchorize $item.title }}-content-{{ $index }}"
          type="button" role="tab" aria-controls="{{ anchorize $item.title }}-content-{{ $index }}" aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}">{{ .title }}</button>
      </li>
    {{ end }}
  </ul>
  <div class="tab-content" id="pills-tabContent">
    {{ range $index, $item := .items }}
      <div class="tab-pane fade {{ if eq $index 0 }} active show {{ end }}" id="{{ anchorize $item.title }}-content-{{ $index }}" role="tabpanel" aria-labelledby="{{ anchorize $item.title }}-tab-{{ $index }}">
        <div class="gallery-wrapper style2">
          {{ range $contentIndex, $content := $item.content }}
            {{ $image := resources.Get $content.image }}
            {{ $processedImage := $image.Resize "1300x webp" }}
            <a data-fancybox="gallery" data-src="{{ $processedImage.RelPermalink }}" href="javascript:void(0)" draggable="false">
              {{ partial "components/image-responsive" (dict
                "path" $content.image
                "class" "img-fluid rounded"
                "alt" $content.title
                "widths" (slice 550 300 332 255 210 242)
                "sizes" (printf "(max-width: 575px) 98vw, (max-width: 576px) %s, (max-width: 768px) %s, (max-width: 992px) %s, (max-width: 1200px) %s, (max-width: 1400px) %s"
                (printf "%.3frem" (div 242 16.0))
                (printf "%.3frem" (div 332 16.0))
                (printf "%.3frem" (div 210 16.0))
                (printf "%.3frem" (div 255 16.0))
                (printf "%.3frem" (div 300 16.0))
                )
              ) }}
            </a>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
