<ul class="nav nav-pills" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">În Timpul Execuției</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Conferință</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Inaugurare</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    <div class="gallery-wrapper style2">
      {{ with .Params.gallery.execution }}
      {{ range $index, $items := .items }}
      <a data-fancybox="gallery" data-src="{{ .image2x }}" data-srcset="{{ .image2x }}, {{ .image }}" href="javascript:void(0)">
        <img class="img-fluid rounded" src="{{ .image }}" srcset="{{ .image }} 1x, {{ .image2x }} 2x" alt="{{ .title | markdownify }}"> 
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
    <div class="gallery-wrapper style2">
      {{ with .Params.gallery.gal }}
      {{ range $index, $items := .items }}
      <a data-fancybox="gallery" data-src="{{ .image2x }}" data-srcset="{{ .image2x }}, {{ .image }}" href="javascript:void(0)">
        <img class="img-fluid rounded" src="{{ .image }}" srcset="{{ .image }} 1x, {{ .image2x }} 2x" alt="{{ .title | markdownify }}"> 
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
    
  </div>
</div>
