{{ define "body_classes" }} proiect-1-page {{ end }}

{{ define "main" }}

<section class="project-wrapper space-top space-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {{ partial "titles" . }}
      </div>
    </div>
    <div class="row space-top space-bottom">
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">CONSOLIDARE, RESTAURARE BISERICA "SF.  NICOLAE",  MIRONEȘTI, comuna GOȘTINARI,  REALIZARE         CORP ANEXĂ – LUMÂNĂRAR/ PANGAR, GRUP SANITAR, SPAȚIU TEHNIC ȘI TURN CLOPOTNIȚĂ, AMENAJARE INCINTĂ, REALIZARE ILUMINAT INTERIOR/ EXTERIOR DE AMBIENT ȘI ARHITECTURAL, REALIZARE ÎMPREJMUIRI ȘI ACCESE PRINCIPALE/ SECUNDARE</h5>
            <h6 class="card-subtitle mb-2 text-muted">Număr de referință: contract de finanțare nr.  225-R / 16.06.2020 , cod SMIS 126844</h6>
            <ol class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <p class="mb-0">Denumirea beneficiarului: <span class="fw-bold">Schitul Mironești</span></p>
              </li>
              <p class="card-text mb-0"><small class="text-muted">Proiect finantat prin PROGRAMUL OPERAȚIONAL REGIONAL 2014-2020, Prioritatea de investiții 5.1 – Îmbunătăţirea mediului urban si conservarea, protectia si valorificare durabila a patrimoniului cultural, Prioritatea de Investiții 5.1. - Conservarea, protejarea, promovarea si dezvoltarea patrimoniului natural si cultural</small></p>
              <li class="list-group-item px-0">
                <p class="mb-0">Autoritatea de Management: <span> Ministerul Dezvoltării Regionale și Administrației Publice</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Organism Intermediar: <span> Agenția pentru Dezvoltare Regională Sud Muntenia</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Perioada de implementare a proiectului: <span class="fw-bold">5 ani</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Data de începere a proiectului: <span class="fw-bold">30.05.2016</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Valoarea totală a proiectului: <span class="fw-bold">20.660.734,96 </span>lei</p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Contribuția Uniunii Europene: <span class="fw-bold">17.090.824,37 </span>lei</p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0"><b>Obiectivul proiectului:</b> <span>Restaurarea, conservarea, protejarea si mentinerea stilului arhitectonic al Bisericii Sf Nicolae – Schitul Mironesti, judetul Giurgiu ca premisa a dezvoltarii turismului cultural si religios, factor care stimuleaza dezvoltarea economica a regiunii Sud Muntenia si pastrarea culturii traditionale românesti, respectând principiile dezvoltarii durabile si protectiei mediului.</span></p>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title fw-bold">DESPRE PROIECT</h5>
          </div>
          <div class="card-body">
            <ol class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 1 - BISERICA SF. NICOLAE <span class="fw-normal">lucrări de consolidare, restaurare, conservare, refacere finisaje   și instalații; refacere învelitoare și sistem preluare ape pluviale; refacere tâmplării; refacere trotuar de gardă; realizare iluminat arhitectural;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 2 - TURN CLOPOTNIȚĂ: <span class="fw-normal">propunere turn clopotniță pe latura de sud - pentru facilitarea unui nou acces în sit și amplasare clopot;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 3 - PANGAR și OBIECT 4 - LUMÂNĂRAR: <span class="fw-normal">propunere corpuri noi de mici dimensiuni, din zidărie de beton și cărămidă, pentru expunerea inventarului local sau media și aprinderea lumânărilor;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 5 - CORP ANEXĂ: <span class="fw-normal">propunere construcție nouă pentru adăpostirea grupurilor sanitare și cameră tehnică;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 6 - FOIȘOR: <span class="fw-normal">construcție din lemn, propusă pentru expunerea unui număr limitat de vestigii istorice locale;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 7 - ÎMPREJMUIRE: <span class="fw-normal">propunere împrejmuire perimetrală din zidărie, plasă bordurată și elemente vegetale, cu punct de acces auto;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 8 – AMENAJARE EXTERIOARĂ: <span class="fw-normal">propunere care va consta în amenajarea circuitului interior cu alei pietonale, vegetații acoperitoare de sol, plantare arbuști, arbori și sistem minimal de irigare.</span></p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}