{{ define "body_classes" }} proiect-1-page {{ end }}

{{ define "main" }}

<section class="project-wrapper space-top space-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {{ partial "titles" . }}
      </div>
    </div>
    <div class="row space-top space-bottom">
      <div class="col-md-10 mx-auto">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title fw-bold">DESPRE PROIECT</h2>
          </div>
          <div class="card-body">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="footer-wrapper footer-wrapper--project">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <hr>
        <p class="footer-european-top">{{ .Params.footerTitle }} <a href="{{ .Params.footerLink | relURL }}" target="b">www.fonduri-ue.ro</a></p>
        <hr>
      </div>
    </div>
  </div>
</div>

{{ end }}