{{ define "body_classes" }} proiect-1-page {{ end }}

{{ define "main" }}

<section class="project-wrapper space-top space-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {{ partial "titles" . }}
      </div>
    </div>
    <div class="row space-top space-bottom">
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">CONSOLIDARE, RESTAURARE BISERICA "SF.  NICOLAE",  MIRONEȘTI, comuna GOȘTINARI,  REALIZARE         CORP ANEXĂ – LUMÂNĂRAR/ PANGAR, GRUP SANITAR, SPAȚIU TEHNIC ȘI TURN CLOPOTNIȚĂ, AMENAJARE INCINTĂ, REALIZARE ILUMINAT INTERIOR/ EXTERIOR DE AMBIENT ȘI ARHITECTURAL, REALIZARE ÎMPREJMUIRI ȘI ACCESE PRINCIPALE/ SECUNDARE</h5>
            <h6 class="card-subtitle mb-2 text-muted">Număr de referință: contract de finanțare nr.  225-R / 16.06.2020 , cod SMIS 126844</h6>
            <ol class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <p class="mb-0">Denumirea beneficiarului: <span class="fw-bold">Schitul Mironești</span></p>
              </li>
              <p class="card-text mb-0"><small class="text-muted">Proiect finantat prin PROGRAMUL OPERAȚIONAL REGIONAL 2014-2020, Prioritatea de investiții 5.1 – Îmbunătăţirea mediului urban si conservarea, protectia si valorificare durabila a patrimoniului cultural, Prioritatea de Investiții 5.1. - Conservarea, protejarea, promovarea si dezvoltarea patrimoniului natural si cultural</small></p>
              <li class="list-group-item px-0">
                <p class="mb-0">Autoritatea de Management: <span> Ministerul Dezvoltării Regionale și Administrației Publice</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Organism Intermediar: <span> Agenția pentru Dezvoltare Regională Sud Muntenia</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Perioada de implementare a proiectului: <span class="fw-bold">5 ani</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Data de începere a proiectului: <span class="fw-bold">30.05.2016</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Valoarea totală a proiectului: <span class="fw-bold">20.660.734,96 </span>lei</p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Contribuția Uniunii Europene: <span class="fw-bold">17.090.824,37 </span>lei</p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0"><b>Obiectivul proiectului:</b> <span>Restaurarea, conservarea, protejarea si mentinerea stilului arhitectonic al Bisericii Sf Nicolae – Schitul Mironesti, judetul Giurgiu ca premisa a dezvoltarii turismului cultural si religios, factor care stimuleaza dezvoltarea economica a regiunii Sud Muntenia si pastrarea culturii traditionale românesti, respectând principiile dezvoltarii durabile si protectiei mediului.</span></p>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        {{ with .Params.page.image }}
        {{ range $index, $items := first 1 .items }}
        <img class="img-fluid mb-3" src="{{ .image }}" srcset="{{ .image }} 1x, {{ .image2x }} 2x" alt="{{ .title | markdownify }}"> 
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}