{{ define "body_classes" }} proiect-1-page {{ end }}

{{ define "main" }}

<section class="project-wrapper space-top space-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {{ partial "titles" . }}
      </div>
    </div>
    <div class="row space-top space-bottom">
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">CONSOLIDARE, RESTAURARE BISERICA "SF.  NICOLAE",  MIRONEȘTI, comuna GOȘTINARI,  REALIZARE         CORP ANEXĂ – LUMÂNĂRAR/ PANGAR, GRUP SANITAR, SPAȚIU TEHNIC ȘI TURN CLOPOTNIȚĂ, AMENAJARE INCINTĂ, REALIZARE ILUMINAT INTERIOR/ EXTERIOR DE AMBIENT ȘI ARHITECTURAL, REALIZARE ÎMPREJMUIRI ȘI ACCESE PRINCIPALE/ SECUNDARE</h5>
            <h6 class="card-subtitle mb-2 text-muted">Contract de finanțare nr.  4274 / 23.05.2019 , cod SMIS 126844</h6>
            <ol class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <p class="mb-0">Denumirea beneficiarului: <span class="fw-bold">Schitul Mironești</span></p>
              </li>
              <p class="card-text mb-0"><small class="text-muted">Proiect finantat prin PROGRAMUL OPERAȚIONAL REGIONAL 2014-2020, Prioritatea de investiții 5.1 – Îmbunătăţirea mediului urban si conservarea, protectia si valorificare durabila a patrimoniului cultural, Prioritatea de Investiții 5.1. - Conservarea, protejarea, promovarea si dezvoltarea patrimoniului natural si cultural</small></p>
              <li class="list-group-item px-0">
                <p class="mb-0">Autoritatea de Management: <span> Ministerul Dezvoltării Regionale și Administrației Publice</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Organism Intermediar: <span> Agenția pentru Dezvoltare Regională Sud Muntenia</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Perioada de implementare a proiectului: <span class="fw-bold">91 luni</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Data de începere a proiectului: <span class="fw-bold">14.01.2016</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Data de finalizare a proiectului: <span class="fw-bold">31.07.2023</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Locul de implementare al proiectului este: <span class="fw-bold">Comuna Goștinari, Str. Principală, Nr. 58 , Jud. Giurgiu.</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Valoarea totală a proiectului: <span class="fw-bold">20.660.734,96 </span>lei</p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Contribuția Uniunii Europene: <span class="fw-bold">17.090.824,37 </span>lei</p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0"><b>Obiectivul proiectului:</b> <span>Restaurarea, conservarea, protejarea si mentinerea stilului arhitectonic al Bisericii Sf Nicolae – Schitul Mironesti, judetul Giurgiu ca premisa a dezvoltarii turismului cultural si religios, factor care stimuleaza dezvoltarea economica a regiunii Sud Muntenia si pastrarea culturii traditionale românesti, respectând principiile dezvoltarii durabile si protectiei mediului.</span></p>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="card-header">
            <h4 class="card-title fw-bold">DESPRE PROIECT</h4>
          </div>
          <div class="card-body">
            <ol class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 1 - BISERICA SF. NICOLAE <span class="fw-normal">lucrări de consolidare, restaurare, conservare, refacere finisaje și instalații; refacere învelitoare și sistem preluare ape pluviale; refacere tâmplării; refacere trotuar de gardă; realizare iluminat arhitectural;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 2 - TURN CLOPOTNIȚĂ: <span class="fw-normal">propunere turn clopotniță pe latura de sud - pentru facilitarea unui nou acces în sit și amplasare clopot;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 3 - PANGAR și OBIECT 4 - LUMÂNĂRAR: <span class="fw-normal">propunere corpuri noi de mici dimensiuni, din zidărie de beton și cărămidă, pentru expunerea inventarului local sau media și aprinderea lumânărilor;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 5 - CORP ANEXĂ: <span class="fw-normal">propunere construcție nouă pentru adăpostirea grupurilor sanitare și cameră tehnică;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 6 - FOIȘOR: <span class="fw-normal">construcție din lemn, propusă pentru expunerea unui număr limitat de vestigii istorice locale;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 7 - ÎMPREJMUIRE: <span class="fw-normal">propunere împrejmuire perimetrală din zidărie, plasă bordurată și elemente vegetale, cu punct de acces auto;</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">OBIECT 8 – AMENAJARE EXTERIOARĂ: <span class="fw-normal">propunere care va consta în amenajarea circuitului interior cu alei pietonale, vegetații acoperitoare de sol, plantare arbuști, arbori și sistem minimal de irigare.</span></p>
              </li>
            </ol>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h4 class="card-title fw-bold">OBIECTIVELE PROIECTULUI</h4>
          </div>
          <div class="card-body">
            <ol class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <h5 class="mb-0 fw-bold fst-italic">Obiectivul general al proiectului <span class="fw-normal fs-6 fst-normal">este restaurarea, conservarea, protejarea şi menţinerea stilului arhitectonic al Bisericii Sf Nicolae – Schitul Mironești, județul Giurgiu ca premisă a dezvoltării turismului cultural și religios, factor care stimulează dezvoltarea economică a regiunii Sud Muntenia și păstrarea culturii tradiţionale româneşti, respectând principiile dezvoltării durabile şi protecţiei mediului.</span></h5>
              </li>
              <li class="list-group-item px-0">
                <h5 class="mb-0 fw-bold fst-italic">Obiectivele specifice ale proiectului sunt:</h5>
              </li>
              <li class="list-group-item">
                <p class="mb-0 fw-bold">OS1: <span class="fw-normal">Restaurarea și conservarea în următorii 3 ani a Bisericii Sf. Nicolae- Schitul Mironești, ca premisă a creșterii turismului cultural în zona Goștinari - Comana.</span></p>
              </li>
              <li class="list-group-item">
                <p class="mb-0 fw-bold">OS2: <span class="fw-normal">Introducerea în următorii 3 ani în minim 2 circuite turistice- unul național și unul internațional, în vederea creșterii numărului de turiști în zonă.</span></p>
              </li>
              <li class="list-group-item">
                <p class="mb-0 fw-bold">OS3: <span class="fw-normal">Diversificarea serviciilor cultural-religioase oferite de Schitul Mironești - prin organizarea și desfășurarea a minim 4 evenimente anuale periodice, cu accent pe păstrarea tradițiilor locale.</span></p>
              </li>
              <li class="list-group-item">
                <p class="mb-0 fw-bold">OS4: <span class="fw-normal">Întărirea instituțională în următorii 2 ani prin crearea și dezvoltarea unui parteneriat extins pentru creșterea importanței economice și sociale locale.</span></p>
              </li>
              <li class="list-group-item">
                <p class="mb-0 fw-bold">OS5: <span class="fw-normal">Creșterea gradului de informare și interes pentru cultură a comunității locale și a populației din zona sud Muntenia.</span></p>
              </li>
              <li class="list-group-item px-0">
                <h5 class="mb-0 fw-bold fst-italic">Rezultatele așteptate în urma implementării proiectului sunt:</h5>
              </li>
              <li class="list-group-item">
                <p class="mb-0 fw-bold"><span class="fw-normal">&#9679; creșterea numărului de vizitatori de la 280 în prezent la minim 960 începând cu primul an de exploatare 2021;</span></p>
              </li>
              <li class="list-group-item">
                <p class="mb-0 fw-bold"><span class="fw-normal">&#9679; numărul de obiective de patrimoniu restaurate/protejate/conservate: 1 monument restaurat.</span></p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}