//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Resetting properties
//    3. General
//    4. Pages
//    5. Sections
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "node_modules/bootstrap/scss/bootstrap";


//---------------------------------------------
// Fancybox
//---------------------------------------------

@import "node_modules/@fancyapps/ui/dist/fancybox";


//---------------------------------------------
// Fancybox
//---------------------------------------------



//---------------------------------------------
// 2. Resetting properties
//---------------------------------------------

@import "abstracts/_variables";
@import "abstracts/placeholders";
@import "core/_all";
@import "base/_all";

//---------------------------------------------
// 3. General
//---------------------------------------------

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: $bg-color;
}

//---------------------------------------------
// 4. Pages
//---------------------------------------------

@import "pages/_all";

//---------------------------------------------
// 5. Sections
//---------------------------------------------

@import "components/_all";
@import "layout/_all";
@import "utilities/all";